.container-btn-close {
  position: absolute;
  right: 1vw;
  display: flex;
  justify-content: end;
  z-index: 9;
}

.btn-close {
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;

  img {
    display: block;
    top: 0;
    right: 0;
    width: 3rem;
  }
}
