.btn-add {
  position: absolute;
  bottom: 3vh;
  right: 1.5vw;

  display: flex;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;

  font-weight: lighter;
  align-items: center;
  font-size: 3.5rem;
  color: #fff;

  border: none;
  box-shadow: 1px 1px 15px #858585;
  border-radius: 50%;
  background-color: #0c969d;

  cursor: pointer;
  img {
    height: 2.6rem;
  }
}
