.form-search {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 1rem;
  overflow: hidden;

  img {
    width: 2rem;
    height: auto;
  }
}

.form-search input {
  border: none;
  background-color: #f9f9f9;
  padding: 1rem 0.8rem;
  font-size: 1rem;
}

.input-search {
  display: inline-block;
  width: 30vw;

  &:focus {
    border: none;
    outline: none;
  }
  &:active {
    border: none;
  }
}

.form-search button {
  margin: 0;
  padding-top: 0.6rem;
  border: none;
  background-color: #f9f9f9;
  cursor: pointer;
  font-size: 1.2rem;
}
@media (max-width: 935px) {
  .input-search {
    width: 80vw;
  }
}
