.form-create {
  position: relative;
  legend {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 0.95rem;
  }

  div {
    padding: 0.5rem 0.5rem 1rem;
    border: 1px solid #54b5ba;
    border-radius: 0.25rem;

    label {
      font-size: 0.8rem;
    }

    input {
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  input {
    border: none;
  }
  input[type="submit"] {
    display: block;
    bottom: 2vh;
    right: 2vw;
    padding: 0.8rem 1.5rem;
    border-radius: 1.6rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    background-color: #0c969d;
  }

  section {
    display: flex;
    justify-content: space-around;

    label {
      display: flex;
      column-gap: 0.25rem;
      align-items: flex-end;
    }
  }

  .form-ingredients {
    ol li:last-child {
      button[value="eliminar"] {
        display: none;
      }
    }

    ol li:not(:last-child) {
      button[value="agregar"] {
        display: none;
      }
    }
  }

  .my-radio {
    appearance: none;
    background-color: #ffffff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    border: 5px solid #ffffff;
    outline: 1px solid #2b4e66;
  }

  .my-radio-active {
    background-color: #3c6c8d;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    border: 3.5px solid #ffffff;
    outline: 1px solid #3c6c8d;

    &:hover {
      background-color: #2b4e66;
      outline: 1px solid #2b4e66;
    }
  }
}
