input {
  border: none;
}
.form-create {
  position: relative;

  legend {
    margin-bottom: 3rem;

    font-weight: bold;
    font-size: 1.6rem;
  }

  h3 {
    font-size: 0.95rem;
  }

  input[type="submit"] {
    bottom: 2vh;
    right: 2vw;

    display: block;
    margin-top: 2rem;
    padding: 0.65rem 2.1rem;

    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;

    border-radius: 1.6rem;
    background-color: #0c969d;
  }
}
.div-submit {
  display: flex;
  justify-content: flex-end;
}
.my-radio-active {
  width: 1.3rem;
  height: 1.3rem;

  border: 3.5px solid #ffffff;
  background-color: #3c6c8d;
  border-radius: 50%;
  outline: 1px solid #3c6c8d;

  &:hover {
    background-color: #2b4e66;
    outline: 1px solid #2b4e66;
  }
}
.cooked {
  margin-bottom: 2rem;
}

.my-radio {
  width: 1.3rem;
  height: 1.3rem;

  appearance: none;
  background-color: #ffffff;
  border-radius: 50%;
  border: 5px solid #ffffff;
  outline: 1px solid #2b4e66;
}

.div-input {
  padding: 0.5rem 0.5rem 0.5rem;
  margin-bottom: 2.5rem;

  border: 1px solid #54b5ba;
  border-radius: 0.25rem;

  .textarea-recipe {
    height: auto;
  }
  .preparation {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 2rem;
    height: auto;
    margin-bottom: 0;

    border: none;
  }

  .preparation:hover {
    outline: none;
  }

  h3 {
    margin-bottom: 0;
  }
  label {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  input {
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.radios-btn {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.5rem;
  label {
    display: flex;
    column-gap: 0.25rem;

    align-items: flex-end;
  }
}

.warning {
  margin: 0;
  padding: 2rem 0 1rem;

  font-size: 0.9rem;
  line-height: 0;
  color: #a70404;
  font-weight: 600;
  text-align: center;
}
