table {
  margin-top: 2rem;
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;

  thead {
    color: #6d6c6c;
    font-size: 0.75rem;
    font-weight: bold;

    td {
      border-bottom: 1px solid #79797a;
      padding: 0 1rem;
      padding-bottom: 1rem;
    }
  }
}
