.form-search {
  border-radius: 1rem;
  overflow: hidden;
  display: inline-block;
}

.form-search input {
  border: none;
  background-color: #f9f9f9;
  padding: 1rem 0.8rem;
  font-size: 1rem;
}

.input-search {
  display: inline-block;
  width: 30vw;

  &:focus {
    border: none;
    outline: none;
  }
  &:active {
    border: none;
  }
}

.form-search input[type="submit"] {
  padding-top: 0.6rem;
  cursor: pointer;
  font-size: 1.2rem;
}
