table {
  display: block;
  margin-top: 2rem;
  width: 100%;
  background-color: #ffffff;
  border-collapse: collapse;

  thead {
    display: flex;
    color: #6d6c6c;
    font-size: 0.75rem;
    font-weight: bold;

    td {
      border-bottom: 1px solid #79797a;
      padding: 0 1rem;
      padding-bottom: 1rem;
    }
    tr {
      display: flex;
      justify-content: space-between;
      width: 100%;
      td {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
      }
      td:first-child {
        flex-basis: 23rem;
      }
    }
  }

  tbody {
    display: block;
    width: 70vw;
    max-height: 45vh;
    overflow-y: auto;
    tr {
      display: flex;
      justify-content: space-between;
      width: 100%;
      td {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
      }
      td:first-child {
        flex-basis: 23rem;
      }
    }
  }
}
